/* Your app styles here */

body {
    background: #171717;
    position: relative;
}

.app_wrapper {
    width: 430px;
    height: 862px;
    background: url("../images/device.png") center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.app_screen {
    width: 370px;
    height: 777px;
    margin: 0 auto;
    background: transparent;
    position: absolute;
    top: 58px;
    left: 30px;
    border-radius: 0px 0px 40px 40px;
}

.ios .navbar:after,
.ios .navbar,
.ios .block-strong {
    background: #171717;
    color: #fff;
}

.ios .page {
    background: transparent;
    border-radius: 0px 0px 40px 40px;
}